html {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}

body {
    background-color: lightblue;
    font-family: sans-serif;
    grid-column-start: 2;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.alert_box {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
}

#water_result {
    display: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media (max-width: 600px) {
    html {
        grid-template-columns: 10% 1fr 10%;
    }
  }